<div class="modal fade" id="modalPrestationAnnexeStocksHebergement" tabindex="-1" role="dialog"
     aria-labelledby="modalPrestationAnnexeStocksHebergement"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  ">
        <div class="modal-content" style="  height: auto;
  min-height: 100vh;">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ 'prestation_annexe.stocks_hebergement'|trans }}</h4>
            </div>
            <div class="modal-body" style="height: 95vh;">
                <iframe src="" frameborder="0" id="iframePrestationAnnexeStockHebergement"
                        style="width: 100%;height:100%"></iframe>
            </div>
        </div>
    </div>
</div>