<!-- Modal -->
<div class="modal fade" id="modalAjoutRemiseClef" tabindex="-1" role="dialog"
     aria-labelledby="modalAjoutRemiseClefLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Ajouter une remise de clef</h4>
            </div>
            <div class="modal-body">
                {{ render(controller("MondofuteRemiseClefBundle:RemiseClef:newSimple")) }}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->