<div class="input-daterange form-inline input-group">
    {{ form_widget(periodeIndisponible.dateDebut, { 'attr' : {
        'style' : 'text-align: left;'
    }}) }}
    <span class="input-group-addon">au</span>
    {{ form_widget(periodeIndisponible.dateFin, { 'attr' : {
        'style' : 'text-align: left;'
    }}) }}
</div>