{% extends '@MondofuteClient/client/fiche.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block title %}
    {{ 'création d\un client' | capitalize }}
{% endblock %}

{% block titre %}
    Création d'un client
{% endblock %}

{#  BLOCK DES ACTIONS AUTRES QUE LA MISE A JOUR#}
{% block actions %}
    <div style="text-align: right">
        <ul class="list-unstyled">
            <li><a href="{{ path('client_index') }}">{{ 'retour à la liste' | capitalize }}</a></li>
        </ul>

    </div>
{% endblock %}

