<div class="modal fade" id="modal_fournisseur_prestation_annexe_periode_validite" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Périodes de validité</h4>
            </div>
            <div class="modal-body" id="modal_body_fournisseur_prestation_annexe_periode_validite"
                 data-fournisseur-prestation-annexe-id="" data-key-promotion="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary"
                        onclick="validerFournisseurPrestationAnnexePeriodeValidite();"
                >Valider
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->