<div>
    {% for site in sites %}
        <label><input id="siteAEnregistrer_{{ site.id }}" data-site-id="{{ site.id }}" type="checkbox" name="sites[]"
                      value="{{ site.id }}"> {{ site.libelle }}</label>
    {% endfor %}
</div>