 {#<div class="container-fluid">#}

     <nav class="container-fluid">
         <ul class="nav nav-pills">
             <li role="presentation"
             class="dropdown">
                 <a href="#"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                 >
                     Géographie <span class="caret"></span>
                 </a>
             </li>
         </ul>
     </nav>
 {#</div>#}
