<ul class="nav nav-tabs">
    {% set iSite = 0 %}
    {% for site in mesSites %}
        {% if (personalisable == false and site.vars.value.site.crm == true) or (personalisable == true) %}
            <li id="onglet_data_site_{{ site.vars.value.site.id }}"
                {% if(iSite==0) %}class="active"{% set iSite = 1 %}{% endif %}>
                <a data-toggle="tab"
                   href="#data_site_{{ site.vars.value.site.id }}">
                    {{ site.vars.value.site.libelle }}
                </a>
            </li>
        {% endif %}
        {#{{ form_row(traduction) }}#}
    {% endfor %}
</ul>