<ul class="nav nav-tabs">

    {#{% set personalisable =  true %}#}
    {% set iSite = 0 %}
    {% for site in mesSites %}
        {% if (personalisable == false and site.vars.value.site.crm == true) or (personalisable == true) %}
            <li id="onglet_data_site_{{ site.vars.value.site.id }}"
                {% if(iSite==0) %}class="active"{% set iSite = 1 %}{% endif %}>
                <a data-toggle="tab"
                   href="#data_site_{{ site.vars.value.site.id }}">
                    {{ site.vars.value.site.libelle }}
                </a>
            </li>
        {% endif %}
        {#{{ form_row(traduction) }}#}
    {% endfor %}
    {% if ongletFournisseurs is defined and ongletFournisseurs == 1 %}
        <li id="onglet_data_fournisseurs">
            <a data-toggle="tab" href="#data_fournisseurs">Fournisseurs</a>
        </li>
    {% endif %}
    {% if ongletServices is defined and ongletServices == 1 %}
        <li id="onglet_data_services">
            <a data-toggle="tab" href="#data_services">Services</a>
        </li>
    {% endif %}

    {% if ongletCodePromoHebergement is defined and ongletCodePromoHebergement == true %}
        <li role="presentation" id="onglet_data_code_promo_hebergement" >
            <a aria-controls="data_code_promo_hebergement" role="tab" data-toggle="tab" href="#data_code_promo_hebergement">Hebergements</a>
        </li>
    {% endif %}

    {% if ongletCodePromoPrestationAnnexe is defined and ongletCodePromoPrestationAnnexe == true %}
        <li role="presentation" id="onglet_data_code_promo_prestation_annexe" >
            <a aria-controls="data_code_promo_prestation_annexe" role="tab" data-toggle="tab" href="#data_code_promo_prestation_annexe">Prestations annexe</a>
        </li>
    {% endif %}
</ul>