<ul class="nav nav-tabs">

    {#{% set personalisable =  true %}#}
    {% set iSite = 0 %}
    {% for site in mesSites %}
        {% if (personalisable == false and site.vars.value.site.crm == true) or (personalisable == true) %}
            <li id="onglet_data_site_{{ site.vars.value.site.id }}"
                {% if(iSite==0) %}class="active"{% set iSite = 1 %}{% endif %}>
                <a data-toggle="tab"
                   href="#data_site_{{ site.vars.value.site.id }}">
                    {{ site.vars.value.site.libelle }}
                </a>
            </li>
        {% endif %}
        {#{{ form_row(traduction) }}#}
    {% endfor %}
    {% if ongletFournisseurs is defined and ongletFournisseurs == 1 %}
        <li id="onglet_data_fournisseurs">
            <a data-toggle="tab" href="#data_fournisseurs">Fournisseurs</a>
        </li>
    {% endif %}
    {% if ongletServices is defined and ongletServices == 1 %}
        <li id="onglet_data_services">
            <a data-toggle="tab" href="#data_services">Services</a>
        </li>
    {% endif %}
    {% if ongletHebergementStocks is defined and ongletHebergementStocks == 1 %}
        <li id="onglet_data_hebergement_stocks">
            <a data-toggle="tab" href="#data_hebergement_stocks">Stocks</a>
        </li>
    {% endif %}
    {% if ongletLogementLocatifTarifs is defined and ongletLogementLocatifTarifs == 1 %}
        <li id="onglet_data_logement_locatif_tarifs">
            <a data-toggle="tab" href="#data_logement_locatif_tarifs">Tarifs</a>
        </li>
    {% endif %}
    {% if ongletModeleDescriptionForfaitSki is defined and ongletModeleDescriptionForfaitSki == 1 %}
        <li id="onglet_data_modele_description_forfait_ski">
            <a data-toggle="tab" href="#data_modele_description_forfait_ski">Modèle description forfait ski</a>
        </li>
    {% endif %}
</ul>