{% extends '::base.html.twig' %}
{% block title %}
    {{ 'periode' | trans | capitalize }}
{% endblock %}
{% block body %}
    <h1>{{ 'periode.creation'|trans|capitalize }}</h1>
    {% include '::flashbags.html.twig' %}
    <div>
        {{ form(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}