<div class="form-inline input-group" style="width: 100%;">
    {{ form_widget(periodeValidite.dateDebut, { 'attr' : {
        'onchange' : 'changeDateCustom("'~periodeValidite.dateDebut.vars.id~'" , "'~periodeValidite.dateFin.vars.id~'" , "dateDebut");'
    }}) }}
    <span class="input-group-addon"  style="
    border-width: 1px 0;
    line-height: 1.42857;
    margin-left: -5px;
    margin-right: -5px;
    min-width: 16px;
    padding: 4px 5px;
    text-shadow: 0 1px 0 #fff;
    width: auto;
"
    >au</span>
    {{ form_widget(periodeValidite.dateFin, { 'attr' : {
        'onchange' : 'changeDateCustom( "'~periodeValidite.dateDebut.vars.id~'" , "'~periodeValidite.dateFin.vars.id~'" , "dateFin");'
    }}) }}
</div>