{{ form_label(decotePeriodeSejourDate) }}
<div class="col-sm-10">
    <div class="form-inline input-group" style="width: 100%;">
        {{ form_widget(decotePeriodeSejourDate.dateDebut, { 'attr' : {
            'data-unique_block_prefix' : decotePeriodeSejourDate.dateDebut.vars['unique_block_prefix'],
            'onchange' : 'changeDateTimes("'~decotePeriodeSejourDate.dateDebut.vars.id~'" , "'~decotePeriodeSejourDate.dateFin.vars.id~'" , "dateDebut");'
        }}) }}
        <span class="input-group-addon" style="
    border-width: 1px 0;
    line-height: 1.42857;
    margin-left: -5px;
    margin-right: -5px;
    min-width: 16px;
    padding: 4px 5px;
    text-shadow: 0 1px 0 #fff;
    width: auto;
"
        >au</span>
        {{ form_widget(decotePeriodeSejourDate.dateFin, { 'attr' : {
            'data-unique_block_prefix' : decotePeriodeSejourDate.dateFin.vars['unique_block_prefix'] ,
            'onchange' : 'changeDateTimes( "'~decotePeriodeSejourDate.dateDebut.vars.id~'" , "'~decotePeriodeSejourDate.dateFin.vars.id~'" , "dateFin");'
        }}) }}
    </div>
</div>