<div id="modal_commande_prestation_annexe_externe" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="modal_body_commande_prestation_annexe_externe" class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="addPrestationAnnexe">Ajouter</button>
            </div>
        </div>
    </div>
</div>
