<div class="input-daterange form-inline input-group">
    <input data-date-format="dd/mm/yyyy" placeholder="jj/mm/aaaa" style="text-align: left;" data-field="dateDebut"
           class="form-control" type="text">
    <span class="input-group-addon">au</span>
    <input data-date-format="dd/mm/yyyy" placeholder="jj/mm/aaaa" style="text-align: left;" data-field="dateFin"
           class="form-control" type="text">
</div>